Repository critocrito/sugarcube: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix, prettier-package-json --write, prettier --write, prettier --parser json --write

fix(plugin-http): avoid ENAMETOOLONG error for temporary website downloads
  packages/plugin-http/lib/plugins/import.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

chore: move e2e test execution into root project
  package.json
Due: prettier-package-json --write, prettier --write

chore(release): Bumped to version v0.34.1.
  CHANGELOG.md
  lerna.json
  packages/plugin-http/CHANGELOG.md
  packages/plugin-http/package.json
  packages/sugarcube/CHANGELOG.md
  packages/sugarcube/package.json
Due: prettier-package-json --write, prettier --write

feat(plugin-youtube): tracked missing youtube videos as a separate metric
  packages/plugin-youtube/README.md
  packages/plugin-youtube/lib/plugins/filter-failing.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

fix(utils): bump Tika version to 1.23
  packages/utils/install.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

refactor(plugin-youtube): improve API error handling
  packages/plugin-youtube/lib/api.js
  packages/plugin-youtube/lib/plugins/channel.js
  packages/plugin-youtube/lib/plugins/filter-failing.js
  packages/plugin-youtube/lib/plugins/video.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

fix(utils): depend on Tika 1.24 and fix download url
  packages/utils/install.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

chore: add prettier configuration
  .prettierrc
Due: prettier --parser json --write

feat(plugin-twitter): check for failing twitter tweets
  packages/plugin-twitter/README.md
  packages/plugin-twitter/lib/index.js
  packages/plugin-twitter/lib/plugins/filter-failing.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

chore: turn off linting warnings about restricted syntax
  .eslintrc
  packages/plugin-elasticsearch/lib/plugins/import.js
  packages/plugin-sql/lib/sqlite/queries.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix, prettier --parser json --write

refactor(plugin-mongodb): improve performance of query-units plugin
  packages/plugin-mongodb/lib/plugins/query-units.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

fix(plugin-twitter): don't throw if tweet id is undefined
  packages/plugin-twitter/lib/plugins/filter-failing.js
  packages/plugin-twitter/lib/utils.js
  test/plugin-twitter/utils.spec.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

chore(release): Bumped to version v0.36.1.
  CHANGELOG.md
  lerna.json
  packages/plugin-mongodb/CHANGELOG.md
  packages/plugin-mongodb/package.json
  packages/plugin-twitter/CHANGELOG.md
  packages/plugin-twitter/package.json
  packages/sugarcube/CHANGELOG.md
  packages/sugarcube/package.json
Due: prettier-package-json --write, prettier --write

fix(plugin-mongodb): remove projections when querying units
  packages/plugin-mongodb/lib/plugins/query-units.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

chore(release): Bumped to version v0.36.2.
  CHANGELOG.md
  lerna.json
  packages/plugin-mongodb/CHANGELOG.md
  packages/plugin-mongodb/package.json
  packages/sugarcube/CHANGELOG.md
  packages/sugarcube/package.json
Due: prettier-package-json --write, prettier --write

fix(plugin-twitter): remove unneded log statement
  packages/plugin-twitter/lib/plugins/filter-failing.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

fix(plugin-twitter): improve api error parsing
  packages/plugin-twitter/lib/twitter.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

feat(plugin-sql): expose public API
  packages/plugin-sql/lib/index.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

feat(plugin-csv): add flag to append failure metrics to a file
  packages/plugin-csv/README.md
  packages/plugin-csv/lib/instruments/failed-stats-file.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

feat(core): provide a marker for a run rather than generating one
  packages/cli/lib/cli.js
  packages/core/lib/runner.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

feat(plugin-tap): write data to files in chunks
  packages/plugin-tap/README.md
  packages/plugin-tap/lib/writef.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

feat(plugin-fs): add the fs_from_json plugin
  packages/plugin-fs/README.md
  packages/plugin-fs/lib/index.js
  packages/plugin-fs/lib/plugins/from-json.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

feat(cli): include feature flags from core
  packages/cli/lib/packages.js
  packages/core/lib/features.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

fix(plugin-youtube): wait for results when querying youtube channels
  packages/plugin-youtube/lib/api.js
  packages/plugin-youtube/lib/plugins/channel.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

feat(plugin-youtube): add optional ncube data format
  packages/plugin-youtube/README.md
  packages/plugin-youtube/lib/entities.js
  packages/plugin-youtube/lib/index.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

feat(plugin-http): add optional ncube data format when importing websites
  packages/plugin-http/README.md
  packages/plugin-http/lib/index.js
  packages/plugin-http/lib/plugins/import.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

fix(core): export empty features as a default
  packages/core/lib/index.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

fix(plugin-http): catch content-type parsing errors
  packages/plugin-http/lib/utils.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

feat(plugin-sql): store query tags along with queries
  packages/plugin-sql/lib/db.js
  packages/plugin-sql/lib/plugins/queries-export.js
  packages/plugin-sql/lib/plugins/queries-import.js
  packages/plugin-sql/lib/postgres/queries.js
  packages/plugin-sql/lib/sqlite/queries.js
  packages/plugin-sql/lib/utils.js
  packages/plugin-sql/migrations/postgres/002.rename-queries-to-query.sql
  packages/plugin-sql/migrations/sqlite/002.rename-queries-to-query.sql
  packages/plugin-sql/sql/postgres/queries/create-query-tag.sql
  packages/plugin-sql/sql/postgres/queries/create.sql
  packages/plugin-sql/sql/postgres/queries/list-all.sql
  packages/plugin-sql/sql/postgres/queries/list-by-type.sql
  packages/plugin-sql/sql/postgres/queries/show-query-tag.sql
  packages/plugin-sql/sql/postgres/queries/show.sql
  packages/plugin-sql/sql/sqlite/queries/create-query-tag.sql
  packages/plugin-sql/sql/sqlite/queries/create.sql
  packages/plugin-sql/sql/sqlite/queries/list-all.sql
  packages/plugin-sql/sql/sqlite/queries/show-query-tag.sql
  packages/plugin-sql/sql/sqlite/queries/show.sql
  test/plugin-sql/utils.spec.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

feat(plugin-sql): import and export data from postgresql and sqlite
  packages/plugin-sql/lib/db.js
  packages/plugin-sql/lib/index.js
  packages/plugin-sql/lib/plugins/export.js
  packages/plugin-sql/lib/plugins/import.js
  packages/plugin-sql/lib/postgres/queries.js
  packages/plugin-sql/lib/postgres/units.js
  packages/plugin-sql/lib/sqlite/queries.js
  packages/plugin-sql/lib/sqlite/units.js
  packages/plugin-sql/migrations/postgres/003.create-unit-tables.sql
  packages/plugin-sql/migrations/sqlite/003.create-unit-tables.sql
  packages/plugin-sql/schema-sqlite.sql
  packages/plugin-sql/schema.sql
  packages/plugin-sql/sql/postgres/units/create-downloads.sql
  packages/plugin-sql/sql/postgres/units/create-marker.sql
  packages/plugin-sql/sql/postgres/units/create-media.sql
  packages/plugin-sql/sql/postgres/units/create-query-result.sql
  packages/plugin-sql/sql/postgres/units/create-run.sql
  packages/plugin-sql/sql/postgres/units/create.sql
  packages/plugin-sql/sql/postgres/units/list-all.sql
  packages/plugin-sql/sql/postgres/units/list-downloads.sql
  packages/plugin-sql/sql/postgres/units/list-markers.sql
  packages/plugin-sql/sql/postgres/units/list-media.sql
  packages/plugin-sql/sql/postgres/units/list-queries.sql
  packages/plugin-sql/sql/postgres/units/show-marker.sql
  packages/plugin-sql/sql/postgres/units/show.sql
  packages/plugin-sql/sql/sqlite/units/create-downloads.sql
  packages/plugin-sql/sql/sqlite/units/create-marker.sql
  packages/plugin-sql/sql/sqlite/units/create-media.sql
  packages/plugin-sql/sql/sqlite/units/create-query-result.sql
  packages/plugin-sql/sql/sqlite/units/create-run.sql
  packages/plugin-sql/sql/sqlite/units/create.sql
  packages/plugin-sql/sql/sqlite/units/list-all.sql
  packages/plugin-sql/sql/sqlite/units/list-downloads.sql
  packages/plugin-sql/sql/sqlite/units/list-markers.sql
  packages/plugin-sql/sql/sqlite/units/list-media.sql
  packages/plugin-sql/sql/sqlite/units/list-queries.sql
  packages/plugin-sql/sql/sqlite/units/show-marker.sql
  packages/plugin-sql/sql/sqlite/units/show.sql
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

refactor(plugin-sql): align query tags with the semantics of Ncube
  packages/plugin-sql/lib/plugins/queries-export.js
  packages/plugin-sql/lib/plugins/queries-import.js
  packages/plugin-sql/lib/postgres/queries.js
  packages/plugin-sql/lib/sqlite/queries.js
  packages/plugin-sql/migrations/postgres/004.restructure-query-tags.sql
  packages/plugin-sql/migrations/sqlite/004.restructure-query-tags.sql
  packages/plugin-sql/sql/postgres/queries/create-query-tag.sql
  packages/plugin-sql/sql/postgres/queries/create-tagged-query.sql
  packages/plugin-sql/sql/postgres/queries/show-query-tag-for-query.sql
  packages/plugin-sql/sql/postgres/queries/show-query-tag.sql
  packages/plugin-sql/sql/sqlite/queries/create-query-tag.sql
  packages/plugin-sql/sql/sqlite/queries/create-tagged-query.sql
  packages/plugin-sql/sql/sqlite/queries/show-query-tag-for-query.sql
  packages/plugin-sql/sql/sqlite/queries/show-query-tag.sql
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

fix(plugin-media): handle youtube videos with multiple thumbnails correctly
  packages/plugin-media/lib/utils.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

chore: ignore project secrets
  .gitignore
Due: none

feat(plugin-twitter): enable ncube data format for feed and tweet plugins
  packages/plugin-twitter/lib/entities.js
  packages/plugin-twitter/lib/feed.js
  packages/plugin-twitter/lib/plugins/tweets.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

Path conditions:
  eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix: any of: *.js
  prettier-package-json --write: any of: **/package.json
  prettier --write: any of: *.json
  prettier --parser json --write: any of: .*rc
