Repository critocrito/sugarcube: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix, prettier-package-json --write, prettier --write, prettier --parser json --write

fix(plugin-media): set type to image for screenshots
  packages/plugin-media/lib/plugins/screenshot.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

refactor(plugin-media): share the browsing interface for plugins
  packages/plugin-media/lib/plugins/screenshot.js
  packages/plugin-media/lib/plugins/warc.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

feat(plugin-media): add media_fetch plugin as replacement for http_get
  packages/plugin-fs/lib/api.js
  packages/plugin-http/README.md
  packages/plugin-media/README.md
  packages/plugin-media/lib/index.js
  packages/plugin-media/lib/plugins/fetch.js
  packages/plugin-media/lib/utils.js
  packages/plugin-media/package.json
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix, prettier-package-json --write, prettier --write

chore: ignore data directory
  .gitignore
Due: none

feat(plugin-media): safely add files and extract cleanUp function into fs plugin
  packages/plugin-media/README.md
  packages/plugin-media/lib/plugins/fetch.js
  packages/plugin-media/lib/plugins/file_import.js
  packages/plugin-media/lib/plugins/mosaic.js
  packages/plugin-media/lib/plugins/screenshot.js
  packages/plugin-media/lib/plugins/warc.js
  packages/plugin-media/lib/plugins/youtubedl.js
  packages/plugin-media/lib/utils.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

refactor(plugin-media): clean up file naming for mosaics and screenshots
  packages/plugin-media/README.md
  packages/plugin-media/lib/plugins/mosaic.js
  packages/plugin-media/lib/plugins/screenshot.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

feat(plugin-fs): replace fs_unfold with fs_import plugin and extract data with Tika
  packages/plugin-fs/README.md
  packages/plugin-fs/lib/api.js
  packages/plugin-fs/lib/index.js
  packages/plugin-fs/lib/plugins/import.js
  packages/plugin-fs/lib/plugins/media-type.js
  packages/plugin-fs/lib/plugins/unfold.js
  packages/plugin-fs/package.json
  packages/utils/lib/index.js
  packages/utils/package.json
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix, prettier-package-json --write, prettier --write

chore: ignore sugarcube cache
  .gitignore
Due: none

feat(plugin-media): safely import media files and allow to keep the original
  packages/plugin-media/README.md
  packages/plugin-media/lib/plugins/file_import.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

refactor(plugin-http): use common tikaExtractMeta for http imports
  packages/plugin-http/lib/plugins/import.js
  packages/plugin-http/lib/utils.js
  packages/plugin-http/package.json
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix, prettier-package-json --write, prettier --write

refactor(plugin-tika): use more modern version of node-tika dependency
  packages/plugin-tika/lib/utils.js
  packages/plugin-tika/package.json
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix, prettier-package-json --write, prettier --write

chore: ci build only on nodejs 10 since node-java doesn't work on 12
  .travis.yml
Due: none

feat(plugin-fs): set OCR language for text extraction on file import
  packages/plugin-fs/README.md
  packages/plugin-fs/lib/plugins/import.js
  packages/utils/lib/index.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

feat(plugin-media): archive websites in parallel
  packages/plugin-media/README.md
  packages/plugin-media/lib/plugins/warc.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

feat(plugin-media): take screenshots of websites in parallel
  packages/plugin-media/README.md
  packages/plugin-media/lib/plugins/screenshot.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

refactor(plugin-media): simplified code
  packages/plugin-media/lib/plugins/warc.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

refactor(plugin-youtube): use general progress log counter
  packages/plugin-youtube/lib/plugins/channel.js
  packages/plugin-youtube/lib/plugins/filter-failing.js
  packages/plugin-youtube/lib/plugins/video.js
  packages/plugin-youtube/package.json
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix, prettier-package-json --write, prettier --write

refactor(plugin-twitter): use general progress log counter
  packages/plugin-twitter/lib/feed.js
  packages/plugin-twitter/lib/plugins/tweets.js
  packages/plugin-twitter/package.json
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix, prettier-package-json --write, prettier --write

refactor(utils): replace node-tika with calling the jar as a subprocess
  packages/plugin-fs/README.md
  packages/plugin-fs/lib/plugins/import.js
  packages/plugin-media/lib/utils.js
  packages/plugin-tika/lib/utils.js
  packages/plugin-tika/package.json
  packages/utils/.npmignore
  packages/utils/download-tika.js
  packages/utils/lib/index.js
  packages/utils/package.json
  project/package.json
  yarn.lock
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix, prettier-package-json --write, prettier --write

chore(release): Bumped to version v0.30.1.
  CHANGELOG.md
  lerna.json
  packages/plugin-csv/CHANGELOG.md
  packages/plugin-csv/package.json
  packages/plugin-fs/CHANGELOG.md
  packages/plugin-fs/package.json
  packages/plugin-google/CHANGELOG.md
  packages/plugin-google/package.json
  packages/plugin-http/CHANGELOG.md
  packages/plugin-http/package.json
  packages/plugin-media/CHANGELOG.md
  packages/plugin-media/package.json
  packages/plugin-tika/CHANGELOG.md
  packages/plugin-tika/package.json
  packages/plugin-twitter/CHANGELOG.md
  packages/plugin-twitter/package.json
  packages/plugin-youtube/CHANGELOG.md
  packages/plugin-youtube/package.json
  packages/sugarcube/CHANGELOG.md
  packages/sugarcube/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier-package-json --write, prettier --write

fix(plugin-http): remove http_screenshot plugin to avoid a dependency mismatch for puppeteer
  packages/plugin-http/README.md
  packages/plugin-http/lib/index.js
  packages/plugin-http/lib/plugins/screenshot.js
  packages/plugin-http/package.json
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix, prettier-package-json --write, prettier --write

fix(plugin-media): disable sandbox of headless browser
  packages/plugin-media/lib/browser.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

refactor(utils): disable tika problem handler logger and set user agent
  packages/utils/.npmignore
  packages/utils/download-tika.js
  packages/utils/lib/index.js
  packages/utils/settings.xml
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

chore: update yarn.lock
  yarn.lock
Due: none

refactor(sugarcube): remove deprecated packages from the sugarcube distribution
  packages/sugarcube/package.json
Due: prettier-package-json --write, prettier --write

chore(release): Bumped to version v0.30.2.
  CHANGELOG.md
  lerna.json
  packages/plugin-csv/CHANGELOG.md
  packages/plugin-csv/package.json
  packages/plugin-fs/CHANGELOG.md
  packages/plugin-fs/package.json
  packages/plugin-google/CHANGELOG.md
  packages/plugin-google/package.json
  packages/plugin-http/CHANGELOG.md
  packages/plugin-http/package.json
  packages/plugin-media/CHANGELOG.md
  packages/plugin-media/package.json
  packages/plugin-tika/CHANGELOG.md
  packages/plugin-tika/package.json
  packages/plugin-twitter/CHANGELOG.md
  packages/plugin-twitter/package.json
  packages/plugin-youtube/CHANGELOG.md
  packages/plugin-youtube/package.json
  packages/sugarcube/CHANGELOG.md
  packages/sugarcube/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier-package-json --write, prettier --write

feat(cli): print help output for a single plugin or instrument
  packages/cli/lib/cli.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

docs: restructure readme and point to the new website
  README.md
Due: none

chore: enable nodejs 12 for ci builds
  .travis.yml
Due: none

fix(core): add missing plugin for failure
  packages/core/lib/instrument.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

feat(pugin-mail): deprecate plugins for reporting in favor of an instrument
  packages/plugin-mail/README.md
  packages/plugin-mail/lib/index.js
  packages/plugin-mail/lib/instruments/report.js
  packages/plugin-mail/package.json
  packages/plugin-mail/views/report.dot
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix, prettier-package-json --write, prettier --write

fix(plugin-mail): update to latest date-fns api
  packages/plugin-mail/lib/instruments/report.js
  packages/plugin-mail/lib/plugins/pipeline-stats.js
  packages/plugin-mail/lib/utils.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

chore: ignore jar files
  .gitignore
Due: none

fix(core): failing test to instrument failures
  packages/core/lib/instrument.js
  test/core/instrument.spec.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

docs: add logo
  README.md
  logo.png
Due: none

chore: remove dimensions of logo
  README.md
Due: none

chore(plugin-csv): upgrade csv library dependencies
  packages/plugin-csv/package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

fix(plugin-mail): describe event for mail_report instrument
  packages/plugin-mail/lib/instruments/report.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

Path conditions:
  eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix: any of: *.js
  prettier-package-json --write: any of: **/package.json
  prettier --write: any of: *.json
  prettier --parser json --write: any of: .*rc
