Repository critocrito/sugarcube: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix, prettier-package-json --write, prettier --write, prettier --parser json --write

.lintstagedrc:

{
  "*.js": [
    "eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix",
    "git add"
  ],
  "**/package.json": ["prettier-package-json --write", "git add"],
  "*.json": ["prettier --write", "git add"],
  ".*rc": ["prettier --parser json --write", "git add"]
}

chore: fix failing prerelease target
  package.json
Due: prettier-package-json --write, prettier --write

docs: improve consistency
  boilerplate-plugin/README.md
  boilerplate-plugin/package.json
  packages/plugin-aqicn/README.md
  packages/plugin-elasticsearch/package.json
  packages/plugin-facebook/README.md
  packages/plugin-fs/package.json
  packages/plugin-google/README.md
  packages/plugin-googlesheets/README.md
  packages/plugin-guardian/README.md
  packages/plugin-http/README.md
  packages/plugin-instagram/README.md
  packages/plugin-mail/package.json
  packages/plugin-media/README.md
  packages/plugin-regex/package.json
  packages/plugin-sec/package.json
  packages/plugin-telegram/README.md
  packages/plugin-test/package.json
  packages/plugin-tika/README.md
  packages/plugin-tor/README.md
  packages/plugin-workflow/package.json
Due: prettier-package-json --write, prettier --write

chore: switch to yarn
  .gitignore
  .travis.yml
  Makefile
  README.md
  lerna.json
  package-lock.json
  package.json
  packages/cli/package-lock.json
  packages/core/package-lock.json
  packages/plugin-aqicn/package-lock.json
  packages/plugin-csv/package-lock.json
  packages/plugin-ddg/package-lock.json
  packages/plugin-elasticsearch/package-lock.json
  packages/plugin-facebook/package-lock.json
  packages/plugin-fs/package-lock.json
  packages/plugin-google/package-lock.json
  packages/plugin-googlesheets/package-lock.json
  packages/plugin-guardian/package-lock.json
  packages/plugin-http/package-lock.json
  packages/plugin-instagram/package-lock.json
  packages/plugin-mail/package-lock.json
  packages/plugin-media/package-lock.json
  packages/plugin-mongodb/package-lock.json
  packages/plugin-regex/package-lock.json
  packages/plugin-sec/package-lock.json
  packages/plugin-tap/package-lock.json
  packages/plugin-telegram/package-lock.json
  packages/plugin-test/package-lock.json
  packages/plugin-tika/package-lock.json
  packages/plugin-tor/package-lock.json
  packages/plugin-twitter/package-lock.json
  packages/plugin-workflow/package-lock.json
  packages/plugin-youtube/package-lock.json
  packages/sugarcube/package-lock.json
  packages/test/package-lock.json
  packages/utils/package-lock.json
  project/package-lock.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

chore: link badges in readme
  README.md
Due: none

chore: restore coverage functionality
  .nycrc
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, prettier --parser json --write

fix(plugin-http): accept old image locations based on filenames
  packages/plugin-http/lib/plugins/get.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

feat: configure a random delay between youtubedl invocations
  packages/plugin-media/README.md
  packages/plugin-media/lib/plugins/youtubedl-check.js
  packages/plugin-media/lib/plugins/youtubedl.js
  packages/plugin-media/lib/utils.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

feat: balance youtube-dl over one or more source ip addresses
  packages/plugin-media/README.md
  packages/plugin-media/lib/plugins/youtubedl-check.js
  packages/plugin-media/lib/plugins/youtubedl.js
  packages/plugin-media/package.json
  yarn.lock
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix, prettier-package-json --write, prettier --write

fix: delay between youtubedl invocations
  packages/plugin-media/lib/plugins/youtubedl-check.js
  packages/plugin-media/lib/plugins/youtubedl.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

chore(release): Bumped to version v0.26.1.
  CHANGELOG.md
  lerna.json
  packages/plugin-media/CHANGELOG.md
  packages/plugin-media/package.json
  packages/sugarcube/CHANGELOG.md
  packages/sugarcube/package.json
Due: prettier-package-json --write, prettier --write

fix(plugin-googlesheets): trim whitespace from queries to move
  packages/plugin-googlesheets/lib/plugins/move-queries.js
  packages/plugin-googlesheets/lib/utils.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

fix(plugin-media): count existing videos
  packages/plugin-media/lib/plugins/mosaic.js
  packages/plugin-media/lib/plugins/youtubedl.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

refactor: extract failing stats into dedicated instrumentation
  packages/core/lib/instrument.js
  packages/core/lib/runner.js
  packages/core/lib/state.js
  packages/plugin-facebook/lib/plugins/api-pages.js
  packages/plugin-fs/lib/plugins/media-type.js
  packages/plugin-http/lib/plugins/get.js
  packages/plugin-media/lib/plugins/file_import.js
  packages/plugin-media/lib/plugins/mosaic.js
  packages/plugin-media/lib/plugins/youtubedl-check.js
  packages/plugin-media/lib/plugins/youtubedl.js
  packages/plugin-twitter/lib/feed.js
  packages/plugin-twitter/lib/plugins/tweets.js
  packages/plugin-youtube/lib/plugins/channel.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

feat(plugin-twitter): log tweets counter
  packages/plugin-twitter/lib/plugins/tweets.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

fix(plugin-media): handle missing locations when generating mosaics
  packages/plugin-media/lib/plugins/mosaic.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

fix: fail gracefully if google sheet doesn't exist
  packages/plugin-googlesheets/lib/plugins/queries.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

feat(plugin-elasticsearch): support ES6 and ES7
  packages/plugin-elasticsearch/lib/elastic.js
  packages/plugin-elasticsearch/package.json
  yarn.lock
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix, prettier-package-json --write, prettier --write

refactor(plugin-elasticsearch): improve base mappings for sugarcube data
  packages/plugin-elasticsearch/lib/elastic.js
  packages/plugin-elasticsearch/lib/mappings.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

refactor(core): replace baconjs stream with event emitter
  packages/cli/lib/cli.js
  packages/core/lib/runner.js
  packages/core/package.json
  yarn.lock
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix, prettier-package-json --write, prettier --write

refactor(cli): upgrade logger to latest version
  packages/cli/lib/cli.js
  packages/cli/lib/logger.js
  packages/cli/package.json
  packages/core/lib/runner.js
  yarn.lock
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix, prettier-package-json --write, prettier --write

chore(boilerplate): depend on latest version of sugarcube
  boilerplate-plugin/package.json
Due: prettier-package-json --write, prettier --write

feat: introduce an instrumentation API and extract the cli logger to an instrument
  packages/cli/lib/cli.js
  packages/cli/lib/instruments/index.js
  packages/cli/lib/instruments/logger.js
  packages/cli/lib/logger.js
  packages/cli/lib/packages.js
  packages/core/lib/runner.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

refactor(plugin-workflow): use the new events api
  packages/cli/lib/instruments/logger.js
  packages/plugin-workflow/lib/plugins/multiplex.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

chore: add instruments to the boilerplate plugin
  boilerplate-plugin/README.md
  boilerplate-plugin/lib/index.js
  boilerplate-plugin/lib/instruments/instrument.js
  boilerplate-plugin/lib/plugins/plugin.js
  boilerplate-plugin/package.json
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix, prettier-package-json --write, prettier --write

refactor(core): change signature of runner factory
  packages/cli/bin/sugarcube.js
  packages/cli/lib/cli.js
  packages/cli/lib/sugarcube.js
  packages/cli/package.json
  packages/core/lib/runner.js
  packages/plugin-workflow/lib/plugins/multiplex.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix, prettier-package-json --write, prettier --write

feat(core): extract the failure logging into the stats instrument
  packages/core/lib/instrument.js
  packages/core/lib/runner.js
  packages/plugin-facebook/lib/plugins/api-pages.js
  packages/plugin-http/lib/plugins/get.js
  packages/plugin-media/lib/plugins/file_import.js
  packages/plugin-media/lib/plugins/mosaic.js
  packages/plugin-media/lib/plugins/youtubedl-check.js
  packages/plugin-media/lib/plugins/youtubedl.js
  packages/plugin-twitter/lib/feed.js
  packages/plugin-twitter/lib/plugins/tweets.js
  packages/plugin-youtube/lib/plugins/channel.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

feat: reworked stats instrumentation and store metrics in StatsD
  packages/cli/bin/sugarcube.js
  packages/cli/lib/cli.js
  packages/cli/lib/instruments/logger.js
  packages/cli/package.json
  packages/core/lib/instrument.js
  packages/core/lib/runner.js
  packages/plugin-elasticsearch/README.md
  packages/plugin-elasticsearch/lib/plugins/complement-left.js
  packages/plugin-elasticsearch/lib/plugins/complement.js
  packages/plugin-elasticsearch/lib/plugins/export.js
  packages/plugin-elasticsearch/lib/plugins/import.js
  packages/plugin-googlesheets/README.md
  packages/plugin-googlesheets/lib/plugins/append.js
  packages/plugin-googlesheets/lib/plugins/export.js
  packages/plugin-googlesheets/lib/plugins/import.js
  packages/plugin-googlesheets/lib/plugins/move-queries.js
  packages/plugin-googlesheets/lib/plugins/move.js
  packages/plugin-googlesheets/lib/plugins/queries.js
  packages/plugin-http/README.md
  packages/plugin-http/lib/plugins/get.js
  packages/plugin-http/lib/plugins/screenshot.js
  packages/plugin-media/README.md
  packages/plugin-media/lib/plugins/file_import.js
  packages/plugin-media/lib/plugins/mosaic.js
  packages/plugin-media/lib/plugins/youtubedl-check.js
  packages/plugin-media/lib/plugins/youtubedl.js
  packages/plugin-statsd/.npmignore
  packages/plugin-statsd/LICENSE
  packages/plugin-statsd/README.md
  packages/plugin-statsd/lib/index.js
  packages/plugin-statsd/lib/instruments/metrics.js
  packages/plugin-statsd/package.json
  packages/plugin-twitter/README.md
  packages/plugin-twitter/lib/feed.js
  packages/plugin-twitter/lib/plugins/tweets.js
  packages/plugin-workflow/lib/plugins/multiplex.js
  packages/plugin-youtube/README.md
  packages/plugin-youtube/lib/plugins/channel.js
  packages/plugin-youtube/lib/plugins/video.js
  yarn.lock
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix, prettier-package-json --write, prettier --write

refactor(cli): log explicitly run and end messages
  packages/cli/lib/cli.js
  packages/cli/lib/instruments/logger.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

refactor(cli): turn promise chain into async/await block
  packages/cli/lib/cli.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

refactor(cli): update instrument description
  packages/cli/lib/instruments/logger.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

refactor(cli): add comment
  packages/cli/lib/cli.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

feat(plugin-csv): export failures using the csv_failures_file instrument
  packages/plugin-csv/README.md
  packages/plugin-csv/lib/index.js
  packages/plugin-csv/lib/instruments/failed-stats-file.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

refactor(plugin-mail): match csv filename construction manually with the csv plugins
  packages/plugin-csv/lib/instruments/failed-stats-file.js
  packages/plugin-csv/lib/plugins/export-failed-stats.js
  packages/plugin-mail/lib/plugins/failed-stats.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

docs: add a glossary and document the pipeline events
  README.md
  docs/events.md
  docs/glossary.md
Due: none

refactor(plugin-statsd): remove run marker as metric tag
  packages/plugin-statsd/README.md
  packages/plugin-statsd/lib/instruments/metrics.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix
