Repository critocrito/sugarcube: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix, prettier-package-json --write, prettier --write, prettier --parser json --write

refactor(plugin-twitter): rename twitter_tweets to twitter_tweet plugin
  packages/plugin-twitter/README.md
  packages/plugin-twitter/lib/index.js
  packages/plugin-twitter/lib/plugins/tweet.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

refactor(plugin-twitter): use the @sugarcube/source-types package for source parsing
  packages/plugin-twitter/lib/utils.js
  packages/plugin-twitter/package.json
  yarn.lock
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix, prettier-package-json --write, prettier --write

docs: use new website path for generated plugin/instrument docs
  scripts/make-docs.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

fix(plugin-twitter): set tweet as title instead of description
  packages/plugin-twitter/lib/entities.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

fix(plugin-sql): ignore the database id when listing queries
  packages/plugin-sql/lib/sqlite/queries.js
  packages/plugin-sql/sql/sqlite/queries/list-all.sql
  packages/plugin-sql/sql/sqlite/queries/show.sql
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

feat(plugin-youtube): merge the query tags into the data unit
  packages/plugin-youtube/lib/entities.js
  packages/plugin-youtube/lib/plugins/channel.js
  packages/plugin-youtube/lib/plugins/video.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

feat(plugin-twitter): merge the query tags into the data unit and handle Ncube data format
  packages/plugin-twitter/lib/entities.js
  packages/plugin-twitter/lib/feed.js
  packages/plugin-twitter/lib/plugins/tweet.js
  packages/plugin-twitter/lib/twitter.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

feat(plugin-sql): support query tags for units
  packages/plugin-sql/lib/postgres/queries.js
  packages/plugin-sql/lib/postgres/units.js
  packages/plugin-sql/lib/sqlite/queries.js
  packages/plugin-sql/lib/sqlite/units.js
  packages/plugin-sql/migrations/postgres/005.tagged-units.sql
  packages/plugin-sql/migrations/sqlite/005.tagged-units.sql
  packages/plugin-sql/sql/postgres/units/create-tagged-unit.sql
  packages/plugin-sql/sql/postgres/units/list-tags.sql
  packages/plugin-sql/sql/sqlite/queries/show.sql
  packages/plugin-sql/sql/sqlite/units/create-tagged-unit.sql
  packages/plugin-sql/sql/sqlite/units/list-tags.sql
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

chore: switch from Travis to Github Actions
  .github/workflows/ci.yml
  .travis.yml
  README.md
  scripts/ci/ubuntu-install-packages
Due: none

chore: remove compile CI task
  .github/workflows/ci.yml
Due: none

chore: ditch the progress test reporter
  package.json
Due: prettier-package-json --write, prettier --write

fix(plugin-tika): no return outside function in install script
  packages/utils/install.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

chore: add test coverage to CI tasks
  .github/workflows/ci.yml
  .gitignore
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

chore: fix syntax error in CI tasks
  .github/workflows/ci.yml
Due: none

chore: exclude coverage CI task for Node 12
  .github/workflows/ci.yml
Due: none

chore: refining CI test running
  .github/workflows/ci.yml
  package.json
Due: prettier-package-json --write, prettier --write

chore: upgrade Babel build system
  babel.config.js
  package.json
  yarn.lock
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix, prettier-package-json --write, prettier --write

chore: bump minimal required Node version to 12
  babel.config.js
  docs/tutorial.md
  package.json
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix, prettier-package-json --write, prettier --write

chore: upgrade lerna dependency
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

chore: upgrade husky and lint-stage
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc
  .lintstagedrc
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, prettier --parser json --write

chore: upgrade more dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

chore: update sugarcube logo
  README.md
  logo.png
Due: none

refactor(plugin-twitter): fetch tweets always in extended mode
  packages/plugin-twitter/lib/twitter.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

refactor(plugin-media): youtube-dl downloads enforce naming of videos
  packages/plugin-media/lib/utils.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

chore: fix code formatting
  packages/plugin-media/lib/utils.js
  packages/plugin-twitter/lib/twitter.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

Path conditions:
  eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix: any of: *.js
  prettier-package-json --write: any of: **/package.json
  prettier --write: any of: *.json
  prettier --parser json --write: any of: .*rc
