Repository critocrito/sugarcube: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix, prettier-package-json --write, prettier --write, prettier --parser json --write

.lintstagedrc:

{
  "*.js": [
    "eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix",
    "git add"
  ],
  "**/package.json": ["prettier-package-json --write", "git add"],
  "*.json": ["prettier --write", "git add"],
  ".*rc": ["prettier --parser json --write", "git add"]
}

chore: set public access for plugin-statsd and add missing description
  packages/plugin-statsd/package.json
Due: prettier-package-json --write, prettier --write

chore(release): Bumped to version v0.27.1.
  CHANGELOG.md
  lerna.json
  packages/plugin-statsd/CHANGELOG.md
  packages/plugin-statsd/package.json
Due: prettier-package-json --write, prettier --write

refactor: simplify stats.fail call
  packages/core/lib/instrument.js
  packages/plugin-elasticsearch/lib/plugins/export.js
  packages/plugin-facebook/lib/plugins/api-pages.js
  packages/plugin-fs/lib/plugins/media-type.js
  packages/plugin-http/lib/plugins/get.js
  packages/plugin-http/lib/plugins/screenshot.js
  packages/plugin-media/lib/plugins/file_import.js
  packages/plugin-media/lib/plugins/mosaic.js
  packages/plugin-media/lib/plugins/youtubedl-check.js
  packages/plugin-media/lib/plugins/youtubedl.js
  packages/plugin-twitter/lib/feed.js
  packages/plugin-twitter/lib/plugins/tweets.js
  packages/plugin-youtube/lib/plugins/channel.js
  packages/plugin-youtube/lib/plugins/video.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

fix(plugin-elasticsearch): supply index to bulk call
  packages/plugin-elasticsearch/lib/elastic.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

refactor(plugin-youtube): print counter when downloading videos
  packages/plugin-youtube/lib/plugins/video.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

docs(plugin-csv): fix name of csv_failures_file in readme
  packages/plugin-csv/README.md
Due: none

fix(plugin-csv): end csv failures file instrument gracefully if no failures were logged
  packages/plugin-csv/lib/instruments/failed-stats-file.js
  packages/plugin-mail/lib/plugins/failed-stats.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

feat(plugin-youtube): check and filtr failing videos in the pipeline
  packages/plugin-youtube/README.md
  packages/plugin-youtube/lib/api.js
  packages/plugin-youtube/lib/index.js
  packages/plugin-youtube/lib/plugins/filter-failing.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

fix(plugin-youtube): remove size limit of youtube failing filter plugin
  packages/plugin-youtube/lib/plugins/filter-failing.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

chore(release): Bumped to version v0.28.1.
  CHANGELOG.md
  lerna.json
  packages/plugin-youtube/CHANGELOG.md
  packages/plugin-youtube/package.json
  packages/sugarcube/CHANGELOG.md
  packages/sugarcube/package.json
Due: prettier-package-json --write, prettier --write

refactor(plugin-youtube): trigger fail on missing video when filtering
  packages/plugin-youtube/lib/plugins/filter-failing.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

refactor(plugin-youtube): log number of missing videos when filtering failing ones
  packages/plugin-youtube/lib/plugins/filter-failing.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

fix(core): improve on state construction
  packages/core/lib/state.js
  test/core/state.spec.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

test(core): unit tests for instrumentation
  test/core/instrument.spec.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

feat(core): collect measurements for non plugin metrics
  packages/core/lib/instrument.js
  test/core/instrument.spec.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

fix(core): emit the plugin name on fail
  packages/core/lib/instrument.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

feat(plugin-googlesheets): add api to fetch all sheets on a spreadsheet
  packages/plugin-googlesheets/lib/sheets.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

feat(plugin-youtube): export parser for video and channel urls
  packages/plugin-youtube/lib/index.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

feat(plugin-twitter): parse and normalize tweet and feed urls
  packages/plugin-twitter/lib/index.js
  packages/plugin-twitter/lib/utils.js
  test/plugin-twitter/utils.spec.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

feat(plugin-youtube): parse and normalize video and channel urls
  packages/plugin-youtube/lib/index.js
  packages/plugin-youtube/lib/plugins/channel.js
  packages/plugin-youtube/lib/plugins/filter-failing.js
  packages/plugin-youtube/lib/plugins/video.js
  packages/plugin-youtube/lib/utils.js
  test/plugin-youtube/utils.spec.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

fix(plugin-twitter): filter search urls from user timelines
  packages/plugin-twitter/lib/utils.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

refactor(plugin-googlesheets): export more of the internal api
  packages/plugin-googlesheets/lib/index.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

refactor(cli): log stats on info level
  packages/cli/lib/instruments/logger.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

feat(plugin-elasticsearch): track new/existing units by source
  packages/plugin-elasticsearch/lib/plugins/export.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

refactor(core): explicitly increment counters by 1 as a default
  packages/core/lib/instrument.js
  test/core/instrument.spec.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

refactor(plugin-elasticsearch): provide deeper insight when an error is thrown
  packages/plugin-elasticsearch/lib/elastic.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

chore: update boilerplate-plugin to sugarcube 0.29.0
  boilerplate-plugin/package.json
Due: prettier-package-json --write, prettier --write

feat(plugin-http): add the http_import plugin
  packages/plugin-http/README.md
  packages/plugin-http/lib/index.js
  packages/plugin-http/lib/plugins/import.js
  packages/plugin-http/package.json
  yarn.lock
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix, prettier-package-json --write, prettier --write

feat(plugin-media): add plugin to archive URLs in WARC files
  packages/plugin-media/README.md
  packages/plugin-media/lib/index.js
  packages/plugin-media/lib/plugins/warc.js
  packages/plugin-media/package.json
  yarn.lock
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix, prettier-package-json --write, prettier --write

refactor(plugin-media): extract common file system functions
  packages/plugin-fs/lib/api.js
  packages/plugin-fs/lib/index.js
  packages/plugin-media/lib/plugins/file_import.js
  packages/plugin-media/lib/plugins/mosaic.js
  packages/plugin-media/lib/plugins/warc.js
  packages/plugin-media/lib/plugins/youtubedl.js
  packages/plugin-media/lib/utils.js
  packages/plugin-media/package.json
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix, prettier-package-json --write, prettier --write

refactor(plugin-fs): remove pify and curry dependency
  packages/plugin-fs/README.md
  packages/plugin-fs/lib/api.js
  packages/plugin-fs/package.json
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix, prettier-package-json --write, prettier --write

feat(plugin-media): deprecate http_screenshot in favor of media_screenshot
  packages/plugin-http/README.md
  packages/plugin-media/README.md
  packages/plugin-media/lib/browser.js
  packages/plugin-media/lib/index.js
  packages/plugin-media/lib/plugins/screenshot.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

feat(utils): add a progress logging counter
  packages/utils/README.md
  packages/utils/lib/index.js
  test/utils/counter.spec.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

refactor(plugin-media): replace manual progress counter with the general progress counter
  packages/plugin-media/lib/plugins/file_import.js
  packages/plugin-media/lib/plugins/mosaic.js
  packages/plugin-media/lib/plugins/screenshot.js
  packages/plugin-media/lib/plugins/warc.js
  packages/plugin-media/lib/plugins/youtubedl-check.js
  packages/plugin-media/lib/plugins/youtubedl.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

feat(cli): gracefully shutdown on SIGINT signal
  packages/cli/lib/cli.js
  packages/core/lib/runner.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

feat(plugin-http): extract body and meta data when importing URLs
  packages/plugin-http/lib/plugins/import.js
  packages/plugin-http/lib/utils.js
  packages/plugin-http/package.json
  packages/utils/lib/index.js
  packages/utils/package.json
  yarn.lock
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix, prettier-package-json --write, prettier --write
