Repository critocrito/sugarcube: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix, prettier-package-json --write, prettier --write, prettier --parser json --write

fix(plugin-mail): consistent use of the no_encrypt option
  packages/plugin-mail/lib/index.js
  packages/plugin-mail/lib/plugins/diff-stats.js
  packages/plugin-mail/lib/plugins/failed-stats.js
  packages/plugin-mail/lib/plugins/pipeline-stats.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

fix(plugin-mail): use correct recipient config field
  packages/plugin-mail/lib/instruments/report.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

fix(plugin-mail): send emails sequential
  packages/plugin-mail/lib/instruments/report.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

chore(release): Bumped to version v0.31.1.
  CHANGELOG.md
  lerna.json
  packages/plugin-mail/CHANGELOG.md
  packages/plugin-mail/package.json
Due: prettier-package-json --write, prettier --write

fix(plugin-twitter): use log counter correctly
  packages/plugin-twitter/lib/plugins/tweets.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

fix(plugin-media): handle the end event when downloading files
  packages/plugin-media/lib/utils.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

fix(plugin-media): don't throw when mosaic generation fails
  packages/plugin-media/lib/plugins/mosaic.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

chore(release): Bumped to version v0.31.2.
  CHANGELOG.md
  lerna.json
  packages/plugin-media/CHANGELOG.md
  packages/plugin-media/package.json
  packages/plugin-twitter/CHANGELOG.md
  packages/plugin-twitter/package.json
  packages/sugarcube/CHANGELOG.md
  packages/sugarcube/package.json
Due: prettier-package-json --write, prettier --write

feat(cli): load the current package as plugin
  packages/cli/lib/packages.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

docs: generate plugin and instrument docs from readmes
  .gitignore
  packages/plugin-aqicn/README.md
  packages/plugin-csv/README.md
  packages/plugin-ddg/README.md
  packages/plugin-elasticsearch/README.md
  packages/plugin-facebook/README.md
  packages/plugin-fs/README.md
  packages/plugin-google/README.md
  packages/plugin-googlesheets/README.md
  packages/plugin-guardian/README.md
  packages/plugin-http/README.md
  packages/plugin-instagram/README.md
  packages/plugin-mail/README.md
  packages/plugin-media/README.md
  packages/plugin-mongodb/README.md
  packages/plugin-regex/README.md
  packages/plugin-sec/README.md
  packages/plugin-statsd/README.md
  packages/plugin-tap/README.md
  packages/plugin-telegram/README.md
  packages/plugin-test/README.md
  packages/plugin-tika/README.md
  packages/plugin-tor/README.md
  packages/plugin-twitter/README.md
  packages/plugin-workflow/README.md
  packages/plugin-youtube/README.md
  scripts/make-docs.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

docs: cleanup plugin descriptions
  packages/plugin-csv/README.md
  packages/plugin-ddg/README.md
  packages/plugin-elasticsearch/README.md
  packages/plugin-fs/README.md
  packages/plugin-google/README.md
  packages/plugin-googlesheets/README.md
  packages/plugin-mail/README.md
  packages/plugin-media/README.md
  packages/plugin-mongodb/README.md
  packages/plugin-regex/README.md
  packages/plugin-sec/README.md
  packages/plugin-tap/README.md
  packages/plugin-telegram/README.md
  packages/plugin-test/README.md
  packages/plugin-tika/README.md
  packages/plugin-tor/README.md
  packages/plugin-twitter/README.md
  packages/plugin-workflow/README.md
  packages/plugin-youtube/README.md
Due: none

chore: ignore more plugins from doc creation
  scripts/make-docs.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

fix(cli): only load self if the package starts with sugarcube-plugin
  packages/cli/lib/packages.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

feat(plugin-tap): add option to exclude fields from printing
  packages/plugin-tap/README.md
  packages/plugin-tap/lib/printf.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

feat(plugin-http): extend http_import to set _sc content fields
  packages/plugin-http/lib/plugins/import.js
  packages/utils/lib/index.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

feat(plugin-fs): extend fs_import to set _sc content fields
  packages/plugin-fs/lib/plugins/import.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

feat(core): set _sc_annotations on every unit
  .gitignore
  packages/core/lib/data/data.js
  packages/plugin-elasticsearch/lib/mappings.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

refactor(plugin-elasticsearch): update mapping to include _sc content fields
  packages/plugin-elasticsearch/lib/mappings.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

fix(test): add missing _sc_annotations field to data generator
  packages/test/lib/generators.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

fix(plugin-workflow): deep merge queries into unit
  packages/plugin-workflow/lib/plugins/merge-query.js
  packages/plugin-workflow/package.json
  yarn.lock
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix, prettier-package-json --write, prettier --write

chore: update boilerplate
  boilerplate-plugin/.npmignore
  boilerplate-plugin/package.json
Due: prettier-package-json --write, prettier --write

chore: ignore data and sugarcube.db
  .gitignore
Due: none

fix(plugin-workflow): merge queries through the queries envelope not the unit field
  packages/plugin-workflow/lib/plugins/merge-query.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

chore: run tasks during release only once
  package.json
Due: prettier-package-json --write, prettier --write

chore(release): Bumped to version v0.33.1.
  CHANGELOG.md
  lerna.json
  packages/plugin-workflow/CHANGELOG.md
  packages/plugin-workflow/package.json
  packages/sugarcube/CHANGELOG.md
  packages/sugarcube/package.json
Due: prettier-package-json --write, prettier --write

refactor(utils): improve apache tika downloader
  packages/utils/download-tika.js
  packages/utils/install.js
  packages/utils/package.json
  yarn.lock
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix, prettier-package-json --write, prettier --write

feat(plugin-sql): add plugins to import and export queries
  packages/plugin-sql/.npmignore
  packages/plugin-sql/LICENSE
  packages/plugin-sql/README.md
  packages/plugin-sql/lib/assertions.js
  packages/plugin-sql/lib/db.js
  packages/plugin-sql/lib/index.js
  packages/plugin-sql/lib/instruments/instrument.js
  packages/plugin-sql/lib/plugins/queries-export.js
  packages/plugin-sql/lib/plugins/queries-import.js
  packages/plugin-sql/lib/plugins/schema-migrate.js
  packages/plugin-sql/lib/postgres/queries.js
  packages/plugin-sql/lib/sqlite/queries.js
  packages/plugin-sql/migrations/postgres/001.create-queries-table.sql
  packages/plugin-sql/migrations/sqlite/001.create-queries-table.sql
  packages/plugin-sql/package.json
  packages/plugin-sql/sql/postgres/queries/create.sql
  packages/plugin-sql/sql/postgres/queries/list-all.sql
  packages/plugin-sql/sql/postgres/queries/list-by-type.sql
  packages/plugin-sql/sql/sqlite/queries/create.sql
  packages/plugin-sql/sql/sqlite/queries/list-all.sql
  packages/plugin-sql/sql/sqlite/queries/list-by-type.sql
  yarn.lock
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix, prettier-package-json --write, prettier --write

fix(pluigin-elasticsearch): only instrument counts if there is data in the pipeline
  packages/plugin-elasticsearch/lib/plugins/complement-left.js
  packages/plugin-elasticsearch/lib/plugins/complement.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

refactor(plugin-mail): reduce noise of report emails
  packages/plugin-mail/lib/instruments/report.js
  packages/plugin-mail/views/report.dot
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

feat(plugin-http): import URLs using the hypercube model
  packages/plugin-http/README.md
  packages/plugin-http/lib/browser.js
  packages/plugin-http/lib/plugins/import.js
  packages/plugin-http/lib/utils.js
  packages/plugin-http/package.json
  packages/utils/lib/index.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix, prettier-package-json --write, prettier --write

chore(plugin-sql): publish package as public
  packages/plugin-sql/package.json
Due: prettier-package-json --write, prettier --write

fix(plugin-youtube): parse video ids from embed urls
  packages/plugin-youtube/lib/utils.js
  test/plugin-youtube/utils.spec.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

feat(plugin-media): guess file type of downloads when file extension is missing
  packages/plugin-media/lib/plugins/fetch.js
  packages/plugin-media/lib/utils.js
  packages/plugin-media/package.json
  yarn.lock
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix, prettier-package-json --write, prettier --write

fix(plugin-media): stream handling of file downloads
  packages/plugin-media/lib/utils.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

fix(plugin-media): cleanup all stale artefacts
  packages/plugin-media/lib/plugins/fetch.js
Due: eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix

Path conditions:
  eslint packages/**/lib/**/*.js test/**/*.js boilerplate-plugin/lib/**/*.js --fix: any of: *.js
  prettier-package-json --write: any of: **/package.json
  prettier --write: any of: *.json
  prettier --parser json --write: any of: .*rc
